/* Arquivo _header.scss */

header {
  #index-banner {

    background-image: url(../images/banner/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .pesquisa {

       form {
           .titulo{
             font-weight: bold;
             color: #fff;
           }
       }

   }

}